body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background: rgb(111, 131, 151); */
    color: rgb(0, 0, 0);
}

.navbar {
    color: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #5cbfc1;
    border-radius: 0;
    background-image: url("spacebackground.jpg");
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 26px;
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 10px;
}

.navbar li {
    width: 100%;
    margin: 0 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar a {
    color: black;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 20px;
}

.navbar a:hover {
<<<<<<< HEAD
    color: #7a7f7f;
    background-color: #fff;
    border-radius: 10px;
    padding: 0px;
=======
    color: #5c8ca4;
>>>>>>> 8251439323210dfccaf207e1974ccd021aec81f9
}

.title {
    display: flex;
    justify-content: space-around;
}

section {
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

#cart {
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-items {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info > img {
    max-width:100px;
    max-height: 100px;
}

.text-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10%;
}

.remove-button {
    background-color: #ff6347; /* Tomato color */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #5cbfc1;
    color: white;
    text-align: center;
    padding: 1px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Add this to style the search bar */
#searchInput {
    padding: 5px;
    margin: 10px;
}

/* Add styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
}

*{
    padding: 0;
    margin: 0;
}

.cookies {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;   
}
.container{
    width: 1600px;
    margin: auto;
}

.subcontainer{
    width: 85%;
    margin: auto;
}

#cookies{
    width: 100%;
    position: fixed;
    bottom: 0;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    /*display: none; */

}

.cookies{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cookies a{
    color:yellow;
    font-weight: 500;
    text-decoration: none;

}

#cookies-btn{
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    border: 3px solid white;
    background-color: black;
    color:white;
}

@media(max-width:1600px){
    .container{
        width: 100%;
    }
}

@media(max-width:1024px){
    .cookies{
        padding: 10px 0;
    }
}